.App {
  text-align: center;
  color: rgb(39, 112, 207);
  font-family: 'EB Garamond', serif
}
.about{
  font-size: 20px;
  color: aliceblue;
  text-align: left;
  margin-right: 20px ;
}
.name{
  flex: auto;

}

.pic{
  height: 30%;
  width: 30%;
}
.image{
  border-radius: 50%;
  height:500px;
  width:600px;
}